//table films
.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #9375a6;
  font-family: 'Arial Black', sans-serif;
}

.demo-table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
}

.table-container {
  padding-left: 30px;
  padding-right: 30px;
}

.column-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.column-cell {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #555;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable-row:hover {
  border-radius: 8px;
  background-color: rgba(109, 90, 158, 0.1);
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// loader
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8)
  }
  50% {
    transform: rotate(360deg) scale(1.2)
  }
  100% {
    transform: rotate(720deg) scale(0.8)
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

// error
.error-message {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  background-color: #f9f9f9;
  font-size: 18px;
  color: #dd5555;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
